<h2>Listado de Empleados</h2>
<!-- Mostramos la variable importada -->
<h3> Nombre en el padre: {{ nombre }}</h3>
<table>
    <thead>
        <th>Posicion</th>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Contratado</th>
        <th>Accion</th>
    </thead>
    <tbody>
        <tr *ngFor="let empleado of empleados; let i = index">
            <td [class.letraGrande] = "i == 0 ">{{ i }}</td> <!-- Pertenecera a la clase letraGrande si cumple la condicion -->
            <td [ngClass]="{fondoAzul: i%2 == 0, fondoVerde: i%2 != 0}">{{ empleado.nombre }}</td> <!-- Le da una clase u otra dependiendo de su posicion -->
            <td [style.color]="empleado.edad > 25 ? 'blue' : 'red'">{{ empleado.edad }}</td><!-- Le da un color dependiendo de su edad -->
            <div *ngIf="empleado.contratado then cont else desp"></div> <!-- Usando templates dependiendo de la condicion -->
            <td>
                <button *ngIf="empleado.contratado" (click)="despedir(i)"
                [ngStyle]="{'background-color':colorC, 'color':'white'}">Despedir</button>
                <button *ngIf="!empleado.contratado" (click)="contratar(i)"
                [ngStyle]="{'background-color':colorD}">Contratar</button>
                <!-- Boton de borrado solo sale cuando hay mas de un empleado -->
                <button *ngIf="empleados.length > 1" (click)="borrar(i)" class="ml2">Borrar empleado</button>
                <!-- <div [ngSwitch]="empleado.contratado">
                    <div *ngSwitchCase="true">
                        <button (click)="despedir(i)"
                        [ngStyle]="{'background-color':colorC, 'color':'white'}">Despedir</button>
                    </div>
                    <div *ngSwitchDefault>
                        <button (click)="contratar(i)"
                        [ngStyle]="{'background-color':colorD}">Contratar</button>
                    </div>
                </div> -->
            </td>
        </tr>
    </tbody>
</table>
<!-- Creamos templates que son etiquetas que se podran usar a lo largo del codigo -->
<ng-template #cont><td>Contratado</td></ng-template>
<ng-template #desp><td>Despedido</td></ng-template>

<!-- <ng-container *ngTemplateOutlet="miPlantilla; context:ctx"></ngcontainer>
<ng-template #miPlantilla let-numempleados = "estimate"><div>Numero de
empleados {{ numempleados }}</div></ng-template> -->
