<h3>Gestión del empleado-{{ seleccionado }}</h3>

<br>
<label>Nombre: </label>
<input type="text" [(ngModel)]="empleados[seleccionado].nombre"><br> <!-- Cambiamos el valor -->
<label>Edad: </label>
<input type="number" [(ngModel)]="empleados[seleccionado].edad"><br> <!-- Cambiamos el valor -->
<label>Contratado: </label>
<input type="number" [(ngModel)]="empleados[seleccionado].contratado" min="0" max="1"> <!-- Cambiamos el valor -->

<!-- Estos botones llaman a una funcion de lista usando vbleLlamada como referencia aqui y donde se llama al contenedor
<button *ngIf="empleados[seleccionado].contratado" (click)="vbleLlamada.despedir(seleccionado)">Despedir</button>
<button *ngIf="!empleados[seleccionado].contratado" (click)="vbleLlamada.contratar(seleccionado)">Contratar</button> -->

<!-- Estos botones llaman a una funcion de lista pero desde la clase del padre que es empleado y no desde su vista 
<button *ngIf="empleados[seleccionado].contratado" (click)="llamaAhijo()">Despedir</button>
<button *ngIf="!empleados[seleccionado].contratado" (click)="llamaAhijo()">Contratar</button>-->
<br> 
<br> 
<!--<h4>El nombre del empleado-0 es ahora: {{ empleados[seleccionado].nombre }}</h4>  Muestra el valor -->
<!--<h4>{{ empleados[seleccionado].nombre }} está ahora contratado: {{ empleados[seleccionado].contratado }}</h4>   Muestra el valor -->

<!-- input para variar el selector de empleados -->
<label>Cambiar al empleado: </label>
<input type="number" [(ngModel)]="seleccionado" min="0" max="{{ empleados.length-1 }}"><br>

<!-- Boton para crear nuevos empleados -->
<button (click)="nuevoEmpleado()">Nuevo empleado</button>
<hr>

<app-empleados-lista [empleados]="empleados"
(empleadosActualizados)="actualizarEmpleados($event)" #vbleLlamada #hijo></app-empleados-lista><!-- Enviamos y recibimos el valor -->
<!-- la variable vbleLlamada la usamos para que la vista del padre use un metodo de la clase Lista
 pero la variable hijo la usamos para para enlazar el padre con el hijo referenciandola en la clase 
 del padre (empleado)  -->